@page
@model Book_StoreV10.CheckOutModel
@{
    ViewData["Title"] = "CheckOut";
}

<h2 style="glyph-orientation-horizontal">Check-Out</h2>

<form method="post">
    <h3>Please, enter you  information</h3>
    <div class="form-group">
        <label>Id:</label><input asp-for="@Model.Student.Id" class="form-control" />
    </div>
    <div class="form-group">
        <label>Name:</label><input asp-for="@Model.Student.Name" class="form-control" />
    </div>

    <div class="form-group">
        <label>Section:</label><input asp-for="@Model.Student.Section" class="form-control" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Complete Order" />
    </div>
</form>

